.mainDiv {
    display: flex;
    flex-direction: row;
}

.navbar {
    width: 14%;
    height: 100vh;
    background-color: rgb(191 191 191 / 53%);
}

.container {
    width: 86%;
    height: 100vh;
}